.navbar {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.4);
  padding: 10px 0;
  text-align: center;
  z-index: 1000;
  transform: translateY(-20px);
  transition: opacity 1s ease, transform 1s ease;
}

.navbar.show {
  opacity: 1;
  transform: translateY(0);
}

.navbar a {
  color: black;
  margin: 0 18px;
  background-color: white;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
}

.navbar a:hover {
  background-color: black;
  color: white;
}
